body{
	background-color: #003D5F;
}
label{
	display: block;
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}

input{
	width: 100%;
	border: 1px solid blue;
	text-align: center;
	display: block;
	font-size: 1.6em;
}
#formContainer{
	background-color: #66A8CD;
	display: block;
	padding: 20px;
	margin: 20px 4px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 2px solid black;
	text-align: center;
}
#submit{
	width: 100%;
	display: block;
	margin: 20px 0;
	margin-right: auto;
	margin-left: auto;
}
@media screen and (min-width: 480px){
	#formContainer{
		text-align: center;
		margin: auto;
		width: 100%;
		display: block;
	}
	#submit{
		width: 60%;
	}
	label{
		font-size: 1.5em;
	}
	input{
		font-size: 1.4em;
	}
}
@media screen and (min-width: 768px){
	#formContainer{
		margin: auto;
		width: 80%;
		display: block;
	}
	#submit{
		width: 40%;
	}
	input{
		font-size: 1.2em;
	}
}